*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/***************************************
            LAYOUT GENERALI
****************************************/

.pulsante{
    padding: 3px;
    border-radius: 10px;
}

.bianco{
    border: 1px solid white;
    background-color: white;
}

.blu{
    color: white;
    background-color: #0084fd;
    border: 1px solid #0084fd;
    padding: 0.5em 3em 0.5em 3em;
}

.viola{
    background-color: #9792e4;
    border: none;
}

.download{
    border-radius: 100%;
    padding: 1em 1.2em;
    margin-bottom: 2em;
}

.centrato{
    text-align: center;
}

.container{
    width: 80%;
    margin: auto;
    padding-top: 1em;
}

.circolare{
    border-radius: 50%;
}

/****************************************
                NAVBAR
*****************************************/

.navbar{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: #0084fd;
    color: white;
    align-items: center;
}

.mobile{
    display: none;
}


.fa-bars{
    font-size: xx-large;
}

.elementiNav{
    padding: 5px;
}

.elementiNav img{
    margin-left: 10px;
}

.elementiNav div{
    margin-right: 10px;
}


/*********************************
         SECTION 1
***********************************/

#section1 h2{
    color: #0084fd;
    padding-top: 1em;
}


.box{
    width: 85%;
    margin: auto;
    height: auto;
    background-color: #b5ddff;
    margin-top: 2em;
    border-radius: 1em;
}



.container p{
    padding: 1em 0 1em 0;
}

.container img{
    max-width: 100%;
    margin-top: 1.5em;
    display: block;
}

.fa-file-code,
.fa-laptop-code,
.fa-bullhorn,
.fa-compass-drafting
{
    font-size: 450%;
    color: #0084fd;
}




/***************************
         SECTION 2
****************************/

#section2{
    width: 100%;
    background-color: #9792e4;
    height: auto;
    margin-top: 2.5em;
    color: white;
    padding-bottom: 3em;
}


.container h2{
    margin-top: 1em;
    margin-bottom: 1em;
}

.box2{
    width: 90%;
    margin: auto;
    height: auto;
    background-color: white;
    border-radius: 30px;
    color: black;
    text-align: center;
}

/*******************************
            SECTION 3
********************************/


.indaco{
    background-color: #9792e4;
}

.indaco *{
    color: white;
    margin-bottom: 0.5em;
}

