*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/***************************************
            LAYOUT GENERALI
****************************************/

.pulsante{
    padding: 3px;
    border-radius: 10px;
}

.bianco{
    border: 1px solid white;
    background-color: white;
}

.blu{
    color: white;
    background-color: #0084fd;
    border: 1px solid #0084fd;
    padding: 0.5em 3em 0.5em 3em;
}

.viola{
    background-color: #9792e4;
    border: none;
}

.sviola{
    color: #9792e4;
    padding: 0.5em 3em 0.5em 3em;
}

.download{
    border-radius: 100%;
    padding: 1em 1.2em;
    margin-bottom: 2em;
}

.centrato{
    text-align: center;
}

.container{
    width: 80%;
    margin: auto;
    padding-top: 1em;
}

.circolare{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    text-align: center;
    margin-top: 1em;
}



/****************************************
                NAVBAR
*****************************************/

header{
    width: 100%;
    height: auto;
    background-color: #0084fd;
}

.navbar{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.mobile{
    display: none;
}


.fa-bars{
    font-size: xx-large;
}

.elementiNav{
    padding: 0.5em 0 0.5em 0;
}


/*********************************
         SECTION 1
***********************************/

#section1 h2{
    color: #0084fd;
    padding-top: 1em;
}


.box{
    width: 80%;
    margin: auto;
    height: auto;
    background-color: #b5ddff;
    margin-top: 2em;
    border-radius: 1em;
}



.container p{
    padding: 1em 0 1em 0;
}

.fill{
    max-width: 100%;
    margin-top: 1.5em;
    display: block;
}

.fa-file-code,
.fa-laptop-code,
.fa-bullhorn,
.fa-compass-drafting
{
    font-size: 450%;
    color: #0084fd;
}

.telefono{
    display: block;
    max-width: 100%;
    margin-top: 1.5em;
}




/***************************
         SECTION 2
****************************/

#section2{
    width: 100%;
    background-color: #9792e4;
    height: auto;
    margin-top: 2.5em;
    color: white;
    padding-bottom: 3em;
}


.container h2{
    margin-top: 1em;
    margin-bottom: 1em;
}

.box2{
    width: 90%;
    margin: auto;
    height: auto;
    background-color: white;
    border-radius: 30px;
    color: black;
    margin-bottom: 1.5em;
}

/*******************************
            SECTION 3
********************************/

#section3{
    margin-bottom: 5em;
}

.indaco{
    background-color: #9792e4;
}

.indaco *{
    color: white;
    margin-bottom: 1em;
}

.indaco h3{
    padding-bottom: 1em;
}

/*******************************
            SECTION 4
********************************/

#section4{
    width: 100%;
    height: auto;
    background-color: #9792e4;
    margin-top: 5em;
    margin: auto;
    padding-bottom: 3em;
}

#section4 h2{
    color: white;
    text-align: center;
}


.numerazione{
    font-size: xx-large;
    color: #9792e4;
    font-weight: bolder;
}

section h3{
    color: #9792e4;
}

.aggiustamento{
    width: 90%;
    margin: auto;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
}

.aggiustamento h3{
    padding: 0.5em 0 0.5em 0;
}

.largo{
    padding: 0.5em 3em 0.5em 3em;
    color: white;
}

/*******************************
            SECTION 5
********************************/

#section5{
    height: auto;
    width: 100%;
    background-color: white;
    margin-top: 3em;
}



.immagine{
    position: relative;
    left: 3px;
    top: 3px;
}


#position{
    position: absolute;
    top: 0;
    right: 50%;
    font-size: xx-large;
    color: #9792e4;
}

.immagine h2{
    color: #9792e4;
}

/*******************************
            SECTION 6
********************************/

#section6{
    width: 100%;
    height: auto;
    background-color: #9792e4;
    margin-top: 3em;
    text-align: center;
}

#section6  p:first-child{
    color: lightgray;
}

#section6  p:last-child{
    color: white;
}

#section6 h2{
    color: white;
}

#gold{
    color: gold;
    font-size: 4em;
}

.copyright{
    padding-top: 2.3em;
    color: white;
    font-size: 0.9em;
}


/*******************************
            FOOTER
********************************/

footer{
    width: 100%;
    height: auto;
    background-color: #333333;
    margin-top: 0;
    text-align: center;
    padding-bottom: 1em;
}


/*******************************
            TABLET
********************************/

@media screen and (min-width:768px){

    .navbar,
    .box{
        width: 90%;
    }

    #section1{
        display: flex;
        flex-wrap: wrap;
    }

    .box:first-child{
        width: calc( 60% - 1rem);
    }

    .box{
        width: calc(30% - 1rem);
        margin-bottom: 0;
    }

    .telefono{
        max-width: 50%;
    }


    /*SECTION2*/

    #section2 h2{
        font-size: 3rem;
    }

    .box2{
        width: 100%;
    }
}
